body {
  text-align: center;
}

nav {
  background-color: rgb(65, 64, 64);
  padding: 10px;
}

li {
  display: inline;
}

img {
  margin: 10px;
}

#section2 {
  display: inline;
  align: 
  
}

#section2 {
  margin-left: 300px;
}





